<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<style>
.red-link { color: red }
</style>
<h1>Author</h1>

<%= link_to "Return to Authors List", authors_path, class: "red-link" %>

<h3>Author Details</h3>
<h4>
  <%= @author.name %>
</h4>
<p>
  Age: <%= @author.age %>
</p>

<hr>

<%= link_to "Edit this Author", edit_author_path(@author) %>