<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>
<h1>All Books</h1>

<h4>
  Total Number of Books: <%= @book_count %>
</h4>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> - <%= book.year %> - <%= link_to "Edit Book", edit_book_path(book) %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to "Create a New Book", new_book_path %>